@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root[class='p-dark'] {
  background-color: var(--tw-color-slate-800);
}